@font-face {
  font-family: "XiawuWenkai";
  src: url("../fonts/LXGWWenKai-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "XiawuWenkai";
  src: url("../fonts/LXGWWenKai-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "XiawuWenkai";
  src: url("../fonts/LXGWWenKai-Medium.woff2") format("woff2");
  font-weight: 500;
}

/* 全站替换字体 */
:root {
  --md-text-font: "XiawuWenkai", "Noto Serif SC", serif;
  --md-code-font: "JetBrains Mono", monospace;
}

body {
  font-family: var(--md-text-font);
}
